:root {
    --Lineargradient_activeinputborder1: hsl(249, 99%, 64%);
    --Lineargradient_activeinputborder2: hsl(278, 94%, 30%);
    --Red_inputerrors: hsl(0, 100%, 66%);
    --Lightgrayishviolet: hsl(270, 3%, 87%);
    --Darkgrayishviolet: hsl(279, 6%, 55%);
    --Verydarkviolet: hsl(278, 68%, 11%);
    --border-color: hsla(270, 3%, 87%, 0.5);
}

*, *::before, *::after {
    box-sizing: border-box;
    /* outline-style: solid;
    outline-width: 1px; */
} 

body {
    font-family: 'Space Grotesk', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#wh {
    position: absolute;
    color: white;
}

section {
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

#top {
    background: url(images/bg-main-mobile.png);
    color: white;
    font-size: 1rem;
    height: 220px;
}

.card-front {
    background: url(images/bgfront.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    padding: 1rem;
    font-size: .85rem;
    position: absolute;
    top: 7.2rem;
    height: 147px;
    width: 268.2px;
}

.card-back {
    display: flex;
    align-items: center;
    background: url(images/bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 147px;
    width: 268.2px;
    position: absolute;
    right: 1rem;
}

#cardLogo {
    width: 50px;
}

#cardInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-weight: 100;
    font-size: large;
    letter-spacing: 1.5px;
    padding: 2rem 0 0 0;
    margin: 0;
}

#cardInfo h2{
    font-size: 0.65rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem 0 0 0;
    margin: 0;
    color: var(--Lightgrayishviolet);
}

h3 {
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 1rem;
    color: var(--Darkgrayishviolet);
}

#cvv {
    font-size: .65rem;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    color: white;
    font-weight: 200;
    padding-right: 2rem;
    margin-top: 0.25rem;
}

#details-form {
    display: block; /* block */
    margin-top: 2rem;
}

.success {
    display: none;     /* none */
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.success h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

.success h2 {
    font-size: 1.15rem;
    color: var(--Darkgrayishviolet);
}

.button {
    color: white;
    background-color: var(--Verydarkviolet);
    border-radius: 10px;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
}

.button:hover {
    cursor: pointer;
}

.dateAndCVC, .dateInput {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cvcCode, .date {
    width: 50%;
}

input {
    width: 100%;
    height: 3rem;
    border-radius: 7px;
    font-weight: 600;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
    border: 1px solid var(--Lightgrayishviolet);
}

input:hover {
    cursor: pointer;
    border-color: var(--Lineargradient_activeinputborder1);
}
::placeholder {
    color: var(--Darkgrayishviolet);
    opacity: 0.5;
}

#emptyNameMsg, #emptyNumMsg, #emptyDate, #emptycvc {
    color: var(--Red_inputerrors);
    position: absolute;
    font-size: .75rem;
    margin-top: .2rem;
}
@media screen and (min-width: 376px) {
    body {
        flex-direction: row;
    }

    #top {
        background: url(images/bg-main-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        
        font-size: 1rem;
        height: 100vh;
        width: 33vw;
        
        display: flex;
        flex-direction: column;
        justify-content: center;

        gap: 2rem;
    }

    .card-front, .card-back  {
         position: relative;
         justify-content: center;
         align-items: center;
         z-index: 0;
         top: 0px;
         right: 0;
         height: 225px;
         width: 400px;
         background-size: contain;
    }

    .card-front {
        left: 0;
        /* margin-left: 10vw; */
        margin-left: clamp(5vw, 200%, 10vw);
        padding: 2rem;
    }

   .card-back {
        margin-left: calc(33vw - 1.5rem - 210px);
        left: 0;
        padding-right: 1rem;
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10vh 22vw;
    }

    main section {
        padding: 0;
        margin: 0;
    }

    #cvv {
        font-size: .75rem;
        font-weight: 200;
        padding-right: 2rem;
        margin-top: 0rem;
    }

    #details-form {
        margin: 0;
    }
   
    #cardLogo {
        width: 70px;
    }

    h1 {
        font-weight: 100;
        font-size: 1.5rem;
        letter-spacing: 3.5px;
        padding: 2rem 0 0 0;
        margin-top: 1rem;
    }

    #cardInfo h2{
        font-size: 0.85rem;
        letter-spacing: 2px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 1.45rem 0 0 0;
        margin: 0;
        color: var(--Lightgrayishviolet);
    }

   
    h3 {
        font-size: 0.65rem;
    }

    input {
        height: 2.5rem;
    }

    .button {
        padding: 0.85rem 0;
        font-size: 0.85rem;
    }
    
}

@media screen and (min-width: 1910px) {
    .card-front, .card-back  {
        height: 250px;
        width: 430px;
   }

   .card-front {
    left: 0;
    /* margin-left: 10vw; */
    margin-left: 15vw;
    padding: 2rem;
    }

    h1 {
        padding: 3rem 0 0 0;
        font-size: 1.65rem;
    }

 }
